@import "../../../styles/globals.scss";


.redirect {
  display: flex;
  justify-content: center;
  background: $theme-color;
  border-radius: 45%;
  padding: 0.1em 0.5em;
  color: $background-theme-color;
  // color: $theme-color;
  &:hover {
    background: $theme-color-less-opacity;
    cursor: pointer;
  }
}
