@import "../../../styles/globals.scss";

.divRegisterForm {
  display: flex;
  justify-content: center;
  margin: 5vh;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 10px;
  gap: 3vh;
}

.error-message {
  color: red;
  margin-bottom: 1vh;
  font-weight: bold;
}

.btnForm {
  border-radius: 15px;
  border: 0.01em solid $theme-color;
  background-color: rgba(211, 211, 211, 0.555);
  padding: 10px;
  width: 100%;
}

.submitBtnForm {
  border-radius: 15px;
  padding: 2px;
  box-shadow: 1px 3px 5px;
  width: 20%;
  background: $theme-color;
  color: $background-theme-color;

  &:hover {
    background: $theme-color-less-opacity;
    cursor: pointer;
  }
}

.loginFormRedirect {
  display: flex;
  justify-content: center;
  .btnRegister {
    background: $theme-color;
    border-radius: 45%;
    padding: 0.1em 0.5em;
    color: $background-theme-color;
    // color: $theme-color;
    &:hover {
      background: $theme-color-less-opacity;
      cursor: pointer;
    }
  }
}
