@import "../../../styles/globals.scss";

.redirectBtn {
  border-radius: 25px;
  box-shadow: 1px 3px 5px;
  width: 25%;
  background: $theme-color;
  color: $background-theme-color;
  padding: 10px;

  &:hover {
    background: $theme-color-less-opacity;
    box-shadow: 1px 2px 5px;
    cursor: pointer;
  }
}