@import "../../../styles/globals.scss";

.divRegisterForm {
  display: flex;
  justify-content: center;
  margin: 5vh;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 10px;
  gap: 3vh;
}

.btnForm {
  border-radius: 15px;
  background-color: rgba(211, 211, 211, 0.555);
  padding: 10px;
  width: 100%;
  &:focus {
    outline: 0.1em solid $theme-color-1;
  }
}

.submitBtnForm {
  border-radius: 15px;
  box-shadow: 1px 3px 5px;
  width: 20%;
  background: $theme-color;
  color: $background-theme-color;

  &:hover {
    background: $theme-color-less-opacity;
    box-shadow: 1px 2px 5px;
    cursor: pointer;
  }
}

.redirect {
  display: flex;
  justify-content: center;
  .btnLogin {
    background: $theme-color;
    border-radius: 45%;
    padding: 0.1em 0.5em;
    color: $background-theme-color;
    // color: $theme-color;
    &:hover {
      background: $theme-color-less-opacity;
      cursor: pointer;
    }
  }
}
